:root {
    --bg-color: rgba(0, 0, 0, 0.0);
    --bg-image: none;
    --bg-size: auto;
    --bg-repeat: repeat;

    --text: rgba(238, 238, 0, 0.5813953488372093);

    --progress-bg: rgba(255, 0, 0, 0.3);
    --progress-start: #5e009b;
    --progress-end: #ff0000;

    --card-bg: rgba(94, 30, 100, 0.7674418604651163);
    --card-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);

    --fade-wait: 5.0s;
    --fade-duration: 5.0s;
    --fade-ease: ease-out;
    --png-export-enabled: 1;
    --png-width: 600;
    --card-display: flex;
}
