:root {
    --bg-color: #000000;
    --bg-image: none;
    --bg-size: cover;
    --bg-repeat: no-repeat;

    --text: rgba(238, 238, 238, 1);

    --progress-bg: rgba(255, 0, 0, 0.3);
    --progress-start: rgba(94, 255, 155, 1);
    --progress-end: rgba(0, 176, 255, 1);

    --card-bg: rgba(30, 30, 30, 0.8);
    --card-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);

    --fade-wait: 10s;
    --fade-duration: 2s;
    --fade-ease: ease-out;

    --card-display: flex;

    --png-export-enabled: 0;
    --png-width: 600;
}
